*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

header {
  height: 65px;
  width: 100%;
  background-color: black;
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 47px;
  margin-top: 10px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 15px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon{
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.fa {
  margin-right: 5px;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
